{% extends "base_app/base.html" %}
{% load static %}

{% block body%}

<style type="text/css">

body{	
    /*background:linear-gradient(To right,#232b2e,#603594);*/
    background: rgb(89,92,92);
    background: linear-gradient(52deg, rgba(89,92,92,0.6199522045146184) 0%, rgba(78,81,80,1) 0%, rgba(42,51,42,1) 62%, rgba(22,21,20,1) 93%);
}
.signup{
    margin-top:25vh;
    margin-bottom:100px; 
}
.details{
    width:320px;
    padding:30px;
    background:rgba(0,0,0,.5);
    display:flex;
    align-content:center;
    flex-direction:column;
    justify-content:space-around;
    border-radius:20px;
    margin:auto;
    box-shadow:2px 5px 10px rgba(0,0,0,0.5),-6px -10px 15px rgba(0,0,0,0.2);
}
.details p{
    color:#c2c2c2;
    text-align: center;
}
.signup input{
    outline:none;
    border:2px solid #d60027;
    border-radius:5px;
    font-size:18px;
    padding:10px;
    position:relative;
    margin:10px auto;
    background: transparent;
}
#btn{
    width:200px;
    padding:10px auto;
    border:transparent;
    border-radius:10px;
    background:linear-gradient(to right,red,orange);
    /*background-color:#e8549b;*/
    align-self: center;
    text-align:center;
    margin-top: 10px;
    color:#000000;
    font-weight: bold;
}
.signup::before{
    content:'';
    position:fixed;
    left:-10px;
    top:30px;
    height:150px;
    width:150px;
    border-radius:50%;
    background-color:orange;
    box-shadow:2px 5px 10 rgba(0,0,0,0.1),-2px -5px 20px rgba(0,0,0,0.2);
    z-index:-1000;
    animation:bubble 5s 3s infinite linear;
}
.details::before{
    content:'';
    position:fixed;
    right:50px;
    top:100px;
    height:100px;
    width:100px;
    border-radius:50%;
    background-color:#c2c2c2;
    box-shadow:2px 5px 10 rgba(0,0,0,0.1),-2px -5px 20px rgba(0,0,0,0.2);
    z-index:-1000;
    animation:bubble 6s 1s infinite linear;
}
.signup::after{
    content:'';
    position:fixed;
    right:-5vw;
    top:45vh;
    height:300px;
    width:300px;
    border-radius:50%;
    background-color:#1df2d2;
    opacity:;
    box-shadow: 2px 5px 10px rgba(0,0,0,0.4),-2px -5px 20px rgba(0,0,0,0.5);
    z-index:-1000;
    animation:bubble 8s 2s infinite linear reverse;
}
@keyframes bubble{
    0%{transform:translate(0,0);}
    50%{transform:translate(25px,20px);}
}
</style>

<form method="POST" action="">
       {% csrf_token %}
	<div class="signup">
		<div class="details">
		    {{ form.username }}
		    {{ form.email }}
		    {{ form.password1 }}
		    {{ form.password2 }}
		    {% for msg in messages %}
		    	<p>{{msg}}</p>
		    {% endfor %}
		    <input id="btn" type="submit" value="Submit">
	    </div>
	</div>
</form>

<script type="text/javascript">
	var form_fields = document.getElementsByTagName("input")
	form_fields[1].placeholder = "Username"
	form_fields[2].placeholder = "Email Address"
	form_fields[3].placeholder = "Password"
	form_fields[4].placeholder = "Confrim Password"

    for(i=0;i<form_fields.length;i++){
        form_fields[i].classList.add("form-control");
    }
</script>

{% endblock %}